.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.card-content {
  margin-top: 10px;
}
