{% extends 'base.html' %} {% block content %}
<div class="image-detail">
  <div class="image-section">
    <img
      src="{{ url_for('uploaded_file', filename=image.path.split('/')[-2] + '/' + image.path.split('/')[-1]) }}"
      class="full-image"
    />
  </div>
  <div class="info-section">
    <div class="navigation">
      <a
        class="btn"
        href="{{ url_for('galerie', directory=image.path.split('/')[-2]) }}"
        >Retour à la galerie</a
      >
      <a
        class="btn"
        id="prev-btn"
        href="{{ url_for('prev_image', image_id=image.id) }}"
        >Previous</a
      >
      <a
        class="btn"
        id="next-btn"
        href="{{ url_for('next_image', image_id=image.id) }}"
        >Next</a
      >
    </div>
    <div class="navigation">
      <button class="btn like-btn">
        {% if image.liked %} Unlike {% else %} Like {% endif %}
      </button>
      <button class="btn delete-btn" id="delete-btn">Delete</button>
    </div>

    <div class="image-content">
      {% set keys = ['path', 'parameters', 'negative_prompt', 'sampler',
      'cfg_scale', 'steps', 'seed', 'size', 'model', 'model_hash'] %} {% for key
      in keys %} {% if image.__dict__[key] %}
      <div class="image-info-item">
        <h3 class="image-info-item__title">{{ key|title }}</h3>
        <p class="image-info-item__content">{{ image.__dict__[key] }}</p>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("keydown", function (event) {
    const key = event.key; // "ArrowRight", "ArrowLeft", "ArrowUp", "ArrowDown", "Delete"

    if (key === "ArrowLeft") {
      const prevBtn = document.getElementById("prev-btn");
      if (prevBtn) {
        window.location.href = prevBtn.href;
      }
    } else if (key === "ArrowRight") {
      const nextBtn = document.getElementById("next-btn");
      if (nextBtn) {
        window.location.href = nextBtn.href;
      }
    } else if (key === "Delete") {
      const deleteBtn = document.getElementById("delete-btn");
      if (deleteBtn) {
        deleteBtn.click();
      }
    }
  });
</script>

{% endblock %}
