{% extends 'base.html' %} {% block content %}
<div class="image-detail">
  <div class="image-section">
    <a
      href="{{ url_for('uploaded_file', filename=image.path) }}"
      target="_blank"
    >
      <img
        src="{{ url_for('uploaded_file', filename=image.path) }}"
        class="full-image"
      />
    </a>
  </div>
  <div class="info-section">
    <div class="navigation">
      <a
        class="btn"
        href="{{ url_for('galerie', directory='/'.join(image.path.split('/')[:-1])) }}"
        ><i class="fas fa-arrow-left"></i
      ></a>
      <a
        class="btn"
        id="prev-btn"
        href="{{ url_for('prev_image', image_id=image.id) }}"
        ><i class="fas fa-chevron-left"></i
      ></a>
      <a
        class="btn"
        id="next-btn"
        href="{{ url_for('next_image', image_id=image.id) }}"
        ><i class="fas fa-chevron-right"></i
      ></a>
      <button
        class="btn like-btn {% if image.liked %} liked {% endif %}"
        data-image-id="{{ image.id }}"
      >
        <i
          class="{% if image.liked %} fas {% else %} far {% endif %} fa-heart"
        ></i>
      </button>
      <button class="btn delete-btn" id="delete-btn">
        <i class="fas fa-trash"></i>
      </button>
    </div>

    <div class="image-content">
      {% set keys = ['path', 'parameters', 'negative_prompt', 'sampler',
      'cfg_scale', 'steps', 'seed', 'size', 'model', 'model_hash'] %} {% for key
      in keys %} {% if image.__dict__[key] %}
      <div class="image-info-item">
        <h3 class="image-info-item__title">{{ key|title }}</h3>
        <p class="image-info-item__content copiable">
          {{ image.__dict__[key] }}
        </p>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
