{% extends 'base.html' %} {% block content %}
<h1 class="title">Répertoires</h1>
<div class="container">
  <div class="column">
    <h2 class="title">img2img</h2>
    <div class="directories">
      {% for directory in directories|sort(reverse = True) %} {% if
      'img2img-images' in directory %}
      <div class="directory">
        <a
          class="directory__link"
          href="{{ url_for('galerie', directory=directory) }}"
          >{{ directory.split('/').pop() }}</a
        >
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
  <div class="column">
    <h2 class="title">txt2img</h2>
    <div class="directories">
      {% for directory in directories|sort(reverse = True) %} {% if
      'txt2img-images' in directory %}
      <div class="directory">
        <a
          class="directory__link"
          href="{{ url_for('galerie', directory=directory) }}"
          >{{ directory.split('/').pop() }}</a
        >
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
  <div class="column">
    <h2 class="title">extra</h2>
    <div class="directories">
      {% for directory in directories|sort %} {% if 'extra' in directory %}
      <div class="directory">
        <a
          class="directory__link"
          href="{{ url_for('galerie', directory=directory) }}"
          >{{ directory }}</a
        >
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
