{% extends 'base.html' %} {% block content %}
<h1 class="title">Répertoires</h1>
<div class="directories">
  {% for directory in directories|sort %}
  <div class="directory">
    <a
      class="directory__link"
      href="{{ url_for('galerie', directory=directory) }}"
      >{{ directory }}</a
    >
    <a
      class="directory__update"
      href="{{ url_for('generate_thumbnails', directory=directory) }}"
      ><i class="fas fa-sync"></i
    ></a>
  </div>
  {% endfor %}
</div>
{% endblock %}
